/*Navbar kısmı ve nav içindeki yazılara stil ekleme*/
.navbar #marka-font {
  font-family: "Pinyon Script", cursive;
  font-weight: 300;
  font-size: 1.5rem;
}
#navtext li {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

  font-weight: 600;
}
#navtext li :hover {
  color: #bda084;

  transition: 0.3s;
}
#nav-aktif {
  color: #bda084;

  border-bottom: 1px solid #bda084;
}
/*büyük resim ile alakalı stillemeler*/
#resim {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("res1.jpg");
  background-position: center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  font-size: 220%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  border-color: #bda084;
  background-attachment: fixed;
}

div .row #marka-font {
  user-select: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  font-family: "Pinyon Script", cursive;
  font-weight: 300;
  font-size: 12rem;
}
@media (max-width: 768px) {
  div.row #marka-font {
    font-size: 8rem;
  }

  #navtext li {
    color: #bda084;
    border-bottom: 1px solid #bda084;
    background-color: #282828;
    text-align: center;
  }
  #navtext li :hover {
    color: #bda084;
  }
  #nav-aktif {
    color: #bda084;

    border-bottom: 2px solid #bda084;
  }
  li #navlinkler {
    border: 0px solid transparent;
  }
}
/*günün yemegi jumbotron stilleme*/
@media (max-width: 768px) {
  .gununyemegiparag {
    font-size: 14px;
  }
  .gununyemegih1 {
    font-size: 20px;
  }
  .gununyemegibaslik {
    font-size: 24px;
  }
}
.gununyemegihr {
  border: 1px solid #bda084;
}
#foodoftheday {
  box-shadow: 0px 0px 22px 6px rgba(0, 0, 0, 0.24);
}
#gununyemegi {
  background-position: center;
  background-size: cover;
  height: 100%;
}
/* hakkımızda jumbotron stilleme*/
#jumbotronbg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("res2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#jumbotronbg h1,
#jumbotronbg p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/*sayfanın başına giden anchor tag*/
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}
#resim-container {
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("res1.jpg");
  background-position: center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  font-size: 220%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  border-color: #bda084;
  background-attachment: fixed;
}
html {
  scroll-behavior: smooth;
}
/*iletisim-form*/
.iletisim {
  width: 100%;
  border: 1px solid #bda084;
}
hr {
  background-color: #bda084;
}
::selection {
  background-color: #bda084;
  color: white;
}
#rezervasyon_container {
  margin-top: -5%;
  box-shadow: 0px 0px 22px 6px rgba(0, 0, 0, 0.24);
  width: 40vw;
}
#menu_collapse {
  color: #bda084;
  font-weight: 700;
}
div .menu_resim_ana {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("food.jpeg");
  background-position: center;
  background-size: cover;
}
div .menu_resim_tatli {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("dessert.jpeg");
  background-position: center;
  background-size: cover;
}
div .menu_resim_icecek {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("drink.jpeg");
  background-position: 50% 30%;
  background-size: cover;
}

.card {
  border: 1px solid #bda084 !important;
}
#galeri_linear {
  background-size: 80%;
  filter: brightness(75%);
  transition: 0.3s;
}
#galeri_linear:hover {
  cursor: pointer;
  transition: 0.2s;
  filter: brightness(100%);
}
/* sayfaların containerları*/
@media (max-width: 768px) {
  #rezervasyon_container {
    width: 85vw;
  }
}
/* menudeki resimleri tıklayınca büyütmek */
/* Style the Image Used to Trigger the Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

#saat_kutu {
  position: absolute;
  width: 200px;
  height: 130px;
  border: 1px solid black;
  background-color: white;
  z-index: 3;
  top: -20vh;
  display: none;
  padding: 4px;
}
#ic_kutu {
  border: 1px solid #bda084;
  height: 100%;
  width: 100%;
}
.saatler {
  font-size: 70%;
  height: 39px;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid #f1f1f1;
}
.saatler:hover {
  background-color: #bda084;
  transition: 0.5s;
}
#suanki_zaman {
  text-align: center;
}
